.header,footer {
  background-color: #D9D9D6;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #898782
}


  {
    border: 1px solid #D9D9D6;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color:#D9D9D6;
  
}
 
tal2 {
  image

}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898782;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }


li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;

}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
body {

  background-color:white;
}



